<% content_for :title, "Terrepets > Administrator Page" %>
<h3>Admin Page</h3>
<hr>
<h4>Pet Templates</h4>

<p>
	<%= link_to '-Standard Pets Template', standard_pet_templates_path %><br>
	<%= link_to '-Custom Pets Template', custom_pet_templates_path %>
</p>

<h4>Avatar Templates</h4>
<p>
	<%= link_to '-Standard Avatars', standard_avatars_path %><br>
	<%= link_to '-Custom Avatars', custom_avatars_path %>
</p>

<h4>Pets</h4>
<p>
	<%= link_to '-All Pets', pets_path %>
</p>

<h4>Items & Hourly</h4>
<ul>
	<li><%= link_to 'Item Templates', item_templates_path %></li>
	<li><%= link_to 'Items', items_path %></li>
  <li><%= link_to 'Makeables', makeables_path %></li>
  <li><%= link_to 'Locations', locations_path %></li>
  <li><%= link_to 'Recipes', recipes_path %></li>
</ul>

<h4>Testing</h4>
<li><%= link_to 'Test Mail', email_name_path %></li>

<h4>Status</h4>
