%center
  = link_to 'Terms of Service ', terms_of_service_path 
  |
  = link_to 'Privacy Policy ', privacy_policy_path 
  |
  = link_to 'Copyright ', copyright_path
  |
  %a{href: "https://plus.google.com/105771646109330367249", target: '_blank', rel: "publisher"} Google+