- content_for :title do
  TerrePets - Home

%p
  Welcome to TerrePets!

%p
  TerrePets is a pet game where you take care of pets, but with an unusual twist!  In TerrePets your pets grow and learn and are mostly self-sufficient.  Your task is to care for them as they grow.  Feed them when they are hungry.  Give them crafting supplies.  Train them in skills to help them become better at tasks such as gathering and crafting.

%p
  TerrePets is based on PsyPets, another pet game.  Ben, the original creator of PsyPets, created and ran PsyPets for several years until he put his code on Github and eventually ceased updating the original game.  To continue the ideas and fun of PsyPets, TerrePets was created.

%p
  Continuing the ideas of PsyPets, the pets in TerrePets have needs which follow Maslow's hierarchy of needs.  This psychology is where Psy in PsyPets came from.  From this hierarchy you'll find that your pets need to feel loved, safe, and esteemed in order to be productive.  And in order to feel loved, safe, and esteemed they need to not be hungry or tired.

%p
  TerrePets is currently in its infancy, so you'll find that many features that are in PsyPets are not yet in TerrePets.  In the meantime, I encourage you to come in and enjoy playing with your pets, chatting with the community, and managing the items your pets bring back!

%p
  If you have any questions or concerns you can contact an administrator at terrepets@gmail.com