<h3>Formatting Help</h3>

<p>You can use these tags to format your text!</p>

<table>
  <thead>
    <tr>
      <td>Tag</td>
      <td>Effect</td>
      <td style="background-color: white;"></td>
      <td>Example</td>
      <td>Result</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&lt;em&gt;TEXT&lt;/em&gt;</td>
      <td>Make TEXT <em>emphasized</em></td>
      <td style="background-color: white;"></td>
      <td>That is &lt;em&gt;so&lt;/em&gt; true!</td>
      <td>That is <em>so</em> true!</td>
    </tr>
    <tr>
      <td>&lt;strong&gt;TEXT&lt;/strong&gt;</td>
      <td>Make TEXT <strong>bold</strong></td>
      <td style="background-color: white;"></td>
      <td>&lt;strong&gt;Phenomenal, cosmic power!&lt;/strong&gt;</td>
      <td><strong>Phenomenal, cosmic power!</strong></td>
    </tr>
    <tr>
      <td>&lt;img src="URL"&gt;</td>
      <td>Displays the image at the URL</td>
      <td style="background-color: white;"></td>
      <td>&lt;img src="/assets/pets/standard_3.png"&gt;</td>
      <td><%= image_tag 'pets/standard_3.png' %></td>
    </tr>
    <tr>
      <td>&lt;a href="URL"&gt;TEXT&lt;/a&gt;</td>
      <td>Makes TEXT a link to URL</td>
      <td style="background-color: white;"></td>
      <td>Visit &lt;a href="https://www.terrepets.com"&gt;TerrePets&lt;/a&gt;!</td>
      <td>Visit <a href="https://www.terrepets.com">TerrePets</a>!</td>
    </tr>
<!--     <tr>
      <td>&lt;mark&gt;TEXT&lt;/mark&gt;</td>
      <td>Makes TEXT <mark>highlighted</mark></td>
      <td style="background-color: white;"></td>
      <td>&lt;mark&gt;Important&lt;/mark&gt; Note</td>
      <td><mark>Important</mark> Note</td>
    </tr> -->
  </tbody>
</table>