<h3>Copyright</h3>

<h4>TerrePets Application</h4>
<p>
  TerrePets: The Application is copyright-protected by its creators, Amanda Kroft and Matt Oberlander.
</p>

<h4>Graphics</h4>
<p>
  TerrePets graphics can only be used within TerrePets. The artists for TerrePets graphics, currently only Draik, have the right to use the graphic bases for other custom graphics within the TerrePets site.  This applies to custom avatars, custom pets, and custom items.  The only exception is the gray raccoon standard pet graphic which Draik has the right to use on other sites as her sona.
</p>

<p>
  Other custom graphics have the rights reserved by the artist and the artist can use them, or allow them to be used, however they want.  The only condition is that upon upload the artist agrees that the graphics are allowed to be used for their designated purpose on TerrePets.  For example, if an artist uploads a custom avatar graphic, it is automatically agreed that the graphic is allowed to be used on TerrePets.
</p>

<p>Many thanks to the artists who have, are, and will in the future contribute to TerrePets!</p>