<h3>Privacy Policy</h3>

<b>Your E-mail Address</b><br>

An e-mail address is required to sign up for TerrePets. This e-mail address is not revealed to other players, to other companies, or to anyone else. Emails are used for any official communications between TerrePets and yourself and thus it is important that you keep this address up to date.

<h3>Your Profile and The Plaza</h3>

Personally-identifiable information (PII) is not collected by TerrePets for any reason or for any other party. However, TerrePets cannot be held responsible for what other TerrePets players do with information which you make available anywhere in the game, including (but not limited to) the Plaza (TerrePets’ forum system) or your profile. Remember: be aware of what can happen when you reveal you PII anywhere on the internet.