<h3>Privacy Policy</h3>

<b>Your E-mail Address</b><br>

An e-mail address is required to sign up for Terrepets. This e-mail address is not revealed to other players, to other companies, or to anyone else.

Emails are used for any offical communications between Terrpets and yourself, thus it is important that you keep this adress up to date.

<h3>Your Profile, The Plaza</h3>

Personally indentifable information (PII) are not collected by Terrepets for any reason or any other party.  However I cannot be held responsible for what other TerrePets players do with information which you make available in this way.  Remember just like anyware on the internet be aware of what happens when you use PII on the internet.

<h3>Payments Made With Stripe for Favor</h3>
All transactions make with Stripe are handled by Stripe, thus Terrepets has no access to the information exchanged.