<h3>Terms of service</h3>

<b>People Who May Play</b><br>

Every player is required to be 13 years or older at the time of signup due to Children's Online Privacy Protection Act (COPA).  For more information feel free to see the leagal documenation of COPA.  <a href="http://www.coppa.org/#">COPA Legal Documentation</a>

<h3>Be Mature and Respectful of Other Players</h3>

Implications of this rule include, but are not limited to: don't troll, flame, or spam.

Swearing is not forbidden, but is best when used thoughtfully.

<h3>Report Bugs</h3>

Ok they happen, please report them as this makes Terrepets better for everyone. 

<h3>Your Email</h3>

This is the only way for Terrepets to contact you if there a problems with your account.  Thus an up to date email is required.

<h3>Be a good person</h3>
Be responsible. "If you don't have anything nice to say, don't say anything at all." Remember what you learned in kindergarten.

<h3>Legal Business</h3>
It is the right of the administrators to deny a player access to Terrepets <u>for any reason</u> (especially for repeatedly ignoring the above rules).