<h3>Terms of service</h3>

<b>People Who May Play</b><br>

Every TerrePets player is required to be thirteen (13) years or older at the time of signup due to the Children's Online Privacy Protection Act (COPPA). For more information, feel free to read the <a href="http://www.coppa.org/#">legal documentation of COPPA.</a>

<h3>Report Bugs</h3>

Please report any bugs, errors, or other problems to terrepets@gmail.com. TerrePets handles all issues as soon as possible.

<h3>Be Mature and Respectful of Other Players</h3>

Implications of this rule include, but are not limited to: don't flame, spam, or troll. Swearing is not forbidden but is best when used thoughtfully. Be responsible for your own actions. "If you don't have anything nice to say, don't say anything at all." Remember what you learned in kindergarten.

<h3>Your Email Address</h3>

An email address is required to sign up for TerrePets. This email address is not revealed to other players, to other companies, or to anyone else. Emails are used for any official communications between TerrePets and yourself and thus it is important that you keep this address up to date.

<h3>Legal Business</h3>
It is the right of TerrePets to deny a player access to TerrePets for any reason (especially for repeatedly ignoring the above Terms of Service).